
body{
    background-color: #111;
    color: #937341;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.background-component{position:fixed;top:0;left:0;width:100%;height:100%;z-index:-100;}
.background-video{width:100%;height:100%;overflow:hidden;display:flex;justify-content:center;}
.background-video video{position:absolute;top:-9999px;right:-9999px;bottom:-9999px;left:-9999px;margin:auto;min-width:100%;min-height:100%;filter:blur(4px);opacity:.2;}
/*! CSS Used from: Embedded */
 

/*! CSS Used from: Embedded */
.control-select{position:relative;display:inline-block;max-width:100%;}
.control-select>.select-arrow{position:absolute;top:18px;right:16px;width:0;height:0;pointer-events:none;border:4px solid transparent;border-top-color:#7e633b;}
.control-select>select{display:inline-block;cursor:pointer;padding:9px 35px 9px 15px;outline:0;border:2px solid #7e633b;border-radius:0;background:#111;color:#c4b998;max-width:100%;appearance:none;-webkit-appearance:none;-moz-appearance:none;}
.control-select>select::-ms-expand{display:none;}
.control-select>select:focus,.control-select>select:hover{border-color:#ecc572;}
.control-select>select:focus~.select-arrow,.control-select>select:hover~.select-arrow{border-top-color:#7e633b;}
.control-select>select:disabled{opacity:.5;pointer-events:none;}
.control-select>select:disabled~.select-arrow{border-top-color:#7b7b7b;}
.region-switcher-component .region-switcher-label{font-family:Beaufort for LOL,serif;font-size:1rem;color:#937341;}
.control-select>select{font-family:Beaufort for LOL,serif;font-size:0.9rem;text-transform:uppercase;}
.region-switcher-component.desktop{display:none;position:absolute;right:48px;top:48px;}
@media (min-width:992px){
.region-switcher-component.desktop{display:block;}
}
.region-switcher-component .region-switcher-label{display:inline-block;padding-right:10px;font-weight:700;text-transform:uppercase;}
/*! CSS Used from: Embedded */
.header-component{position:relative;width:100%;margin:20px auto 10px;text-align:center;}
@media (min-width:992px){
.header-component{display:inline-block;margin:0 0 120px;}
}
.header-component img{width:214px;height:87px;}
@media (min-width:992px){
.header-component img{margin:0;position:absolute;top:48px;left:48px;width:132px;height:54px;}
}
/*! CSS Used from: Embedded */
*,:after,:before{box-sizing:inherit;user-select:none;}
img{border:0;}
/*! CSS Used fontfaces */
@font-face{font-family:"Beaufort for LOL";src:url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.eot?#iefix);src:url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.eot?#iefix) format("eot"),url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.woff) format("woff"),url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.ttf) format("truetype"),url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.svg#) format("svg");font-weight:1 699;}
@font-face{font-family:"Beaufort for LOL";src:url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.eot?#iefix);src:url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.eot?#iefix) format("eot"),url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.woff) format("woff"),url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.ttf) format("truetype"),url(https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.svg#) format("svg");font-weight:700 999;}

/* 
background-image: url(https://lolstatic-a.akamaihd.net/frontpage/apps/prod/signup/pt_BR/0bc78d9…/assets/pt_BR/assets/hangtag.svg);
} */
.scene-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    text-align: center;
}
 
@media (min-width: 992px) {
    .scene-content:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 1;
        bottom: calc(100% + 25px);
        width: 18px;
        height: 50vh;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        z-index: 999;
    }
}
    .scene-heading-mega {
        font-family: "Beaufort for LOL",serif;
        color: #fff;
        font-size: 5vw;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 6px;
        line-height: 1.16;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    .footer-component .copyright{font-family:"Spiegel",sans-serif;letter-spacing:2px;font-size:1.4rem;text-align:center;margin:10px auto;}
    @media (min-width:992px){
    .footer-component .copyright{margin:5px auto;}
    }

    .ul.nav.nav-tabs {
        font-size: 25px;
     }
     
    .nav-tabs {
        border-bottom: 4px solid #fff;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #ffffff;
        background-color: #937341;
        border-color: #dee2e6 #dee2e6 #fff;
    }
    a {
        color: #937341;
        text-decoration: none;
        background-color: transparent;
    }
    a:hover {
        color: #ffffff;
    }

  
    

    .gallery-image {
         display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .gallery-image img {
        height: 250px;
        width: 350px;
        transform: scale(1.0);
        transition: transform 0.4s ease;
      }
      
      .img-box {
        box-sizing: content-box;
        margin: 10px;
        height: 250px;
        width: 350px;
        overflow: hidden;
        display: inline-block;
        color: white;
        position: relative;
        background-color: white;
      }
      
      .caption {
        position: absolute;
        bottom: 5px;
        left: 20px;
        opacity: 0.0;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
      
      .transparent-box {
        height: 250px;
        width: 350px;
        background-color:rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease;
      }
      
      .img-box:hover img { 
        transform: scale(1.1);
      }
      
      .img-box:hover .transparent-box {
        background-color:rgba(0, 0, 0, 0.5);
      }
      
      .img-box:hover .caption {
        transform: translateY(-20px);
        opacity: 1.0;
      }
      
      .img-box:hover {
        cursor: pointer;
      }
      
      .caption > p:nth-child(2) {
        font-size: 0.8em;
      }
      
      .opacity-low {
        opacity: 0.5;
      }